<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Time to eat</h1>

    <p>
        You consider cooking, but lets be honest.<br>
        As soon as you order, the food arrives instantaneously.<br>
        You sit at the couch and place your food on the coffee table.<br>
        The tv turns on and starts playing that show you were catching up on, you know the 1000 episode one.<br>
        What was it called? Ne PeG? The name slips your mind as you think about that confusing logo.<br>
        You get lost in the show, finishing all remaining 750 episodes in one day.<br>
        Realizing how impossible that is you question where the time has gone.<br>
        I'm not sure that we'll ever find out. <br>
    </p>

    <p>To play again, click the home button.</p>
    <a href="/home">Home</a>
</body>
</html>