<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Don't forget to floss</h1>

    <p>
        Floss, Brush, Rinse, repeat (wait why repeat). <br>
        Your teeth, toungue, mouth, all feel fresh.<br>
        Being as you're already in the bathroom you're considering a shower,<br>
        however you hear a loud deep growl erupt from your stomach.<br>
        Do you:
        <ul>
            <li>Take a shower</li>
            <li>Go figure out breakfast</li>
        </ul>
    </p>

    <a href="/start/wake/brush/shower">Shower</a><br>
    <a href="/start/wake/brush/breakfast">Breakfast</a>
</body>
</html>