<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All your base are belong to us</h1>

    <p>
        This is it, the activity you've been looking forward to all week.<br>
        Taking a seat in your gaming space, you release a deep breath of relief.<br>
        You're ready to play.<br>
        But you realize something, what do you play?<br>
        Do you:
        <ul>
            <li>Play your current campaign game</li>
            <li>Play your beloved online multiplayer game</li>
        </ul>
    </p>

    <a href="/start/wake/brush/shower/leave/game/campaign">Campaign</a><br>
    <a href="/start/wake/brush/shower/leave/game/multiplayer">Multiplayer</a>
</body>
</html>