<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Leroy Jenkins!!</h1>

    <p>
        The result is the same, campaign or multiplayer.<br>
        With buddies or on your own you dive into your gaming experience.<br>
        You become so intwined with your gaming that you lose track of the time.<br>
        Ordering food, eating between levels and rounds, and being entranced.<br>
        It's already night... time for bed... time for a new day.<br>
    </p>

    <p>To play again, click the home button.</p>
    <a href="/">Home</a>
</body>
</html>