<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Basic Day Adventure Game</h1>

    <p>
        Welcome to the Basic Day Adventure Game. <br>
        In this game, you will be making choices which direct 
        you towards one of many end game routes. <br>
        Please click on the Start button to begin.
    </p>

    <a href="/start">Start</a>

    <h2>Guessing Game DLC</h2>

    <p>
        Alternatively, there is an additional game included, dlc if you will. <br>
        In this mini-game dlc you will play a number guessing game. <br>
        Please click on the Guessing Game button to begin.
    </p>

    <a href="/guessingGame">Guessing Game</a>

    <h2>Route Calculator DLC</h2>

    <p>
        Finally, one more game(?) dlc is included. <br>
        In this mini-game dlc you will do math, that's right, you'll do math. <br>
        Please click on the Route Calculator button to begin.
    </p>

    <a href="/routeCalc">Route Calculator</a>
</body>
</html>
