<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please login.  Current user: <%= my_user %></h1>

    <form action="/login" method="POST" >
        <p><input type="text" name="username" placeholder="Enter username"></p>
        
        <p><input type="password" name="password" placeholder="Enter password"></p>
        
        <input type="submit" value="Login">
    </form>

    <br>

    <% if(invalid_login) { %>
        <div class="error">
            Invalid Login.
        </div>
    <% } %>
</body>
</html>