<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Frigid bathroom air</h1>

    <p>
        The sudden change from warm shower water to cold air sends a shiver through your body. <br>
        You quickly dry off and get dressed to keep warm.<br>
        Now dressed, you ready yourself to enjoy some morning gaming,<br>
        but again your stomach lets out a large deep growl, even more so than before.<br>
        Do you:
        <ul>
            <li>Start playing a video game</li>
            <li>Finally figure out breakfast</li>
        </ul>
    </p>

    <a href="/start/wake/brush/shower/leave/game">Game</a><br>
    <a href="/start/wake/brush/shower/leave/breakfast">Breakfast</a>
</body>
</html>