<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>What's luck?</h1>

    <p>
        Wow, I mean I didn't calculate the chances but you really don't have a high luck stat.<br>
        Really just need to boost that ya know.<br>
        Go grab a bobble head, eat something, or wear that obscure article of clothing you own.<br>
        Anyway, better luck next time, like seriously go up that.<br>
    </p>

    <p>To play again, click one of the following.</p>
    <a href="/guessingGame">Guessing Game</a><br>
    <a href="/home">Home</a>
</body>
</html>