<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Warmth</h1>

    <p>
        Entering the shower you're met with a rush of hot steam and warm water. <br>
        The heat starts off strong, then subsides with an audible "ahhh.." and a smile.<br>
        After cleaning your body and hair, you consider staying in longer.<br>
        Do you:
        <ul>
            <li>Stay and turn up the heat</li>
            <li>Get out of the shower</li>
        </ul>
    </p>

    <a href="/start/wake/brush/shower/stay">Stay</a><br>
    <a href="/start/wake/brush/shower/leave">Leave</a>
</body>
</html>