<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The enemy of sleep</h1>

    <p>
        20 minute have passed since the first occurance of the alarm ringing.<br>
        Blissfully unaware of the time while in a deep slumber, you hear this sudden terrafying noise.<br>
        It's the alarm clock, making that annoying "mehnp mehnp mehnp" noise as usual.<br>
        Do you:
        <ul>
            <li>Wake up finally getting out of the warm bed</li>
            <li>Accept defeat to your dreams and turn off the alarm clock</li>
        </ul>
    </p>

    <a href="/start/wake">Wake Up</a><br>
    <a href="/start/snooze/snooze2/snoozeEnd">Alarm off</a>
</body>
</html>