<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You snooze you lose</h1>

    <p>
        After accepting defeat to your dreams the alarm has been forever silenced.<br>
        You enter the deepest slumber one could fall into, completely unaware of the time that has passed.<br>
        The bed is warm, the dreams are wonderful, this is true bliss.<br>
        You have succumbed to sleep.<br>
    </p>

    <p>To play again, click the home button.</p>
    <a href="/">Home</a>
</body>
</html>