<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It's just 10 minutes</h1>

    <p>
        Another 10 minutes pass of you hugging your pillow and drooling, and again you're thrust out of your peacful slumber. <br>
        It's the alarm clock, making that annoying "mehnp mehnp mehnp" noise as usual.<br>
        Do you:
        <ul>
            <li>Wake up and end your lovely slumbler</li>
            <li>Slam the snooze button for another 10 minutes</li>
        </ul>
    </p>

    <a href="/start/wake">Wake Up</a><br>
    <a href="/start/snooze/snooze2">Snooze More</a>
</body>
</html>