<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The day begins</h1>

    <p>
        Suddenly you hear a loud jarring noise cutting into your dreams. <br>
        It's the alarm clock, making that annoying "mehnp mehnp mehnp" noise as usual.<br>
        Do you:
        <ul>
            <li>Wake up and get ready for the day</li>
            <li>Slam the snooze button for 10 more minutes</li>
        </ul>
    </p>

    <a href="/start/wake">Wake Up</a><br>
    <a href="/start/snooze">Snooze</a>
</body>
</html>
