<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hot Hot Heat</h1>

    <p>
        You couldn't bare to leave the embrace of the warm shower water. <br>
        Turning the heat to max, you are met with a wave of love and pain.<br>
        Your skin starts turning red, and you quickly reach to turn the water down.<br>
        But it's too late, you've become so red that you've turned into a tomato. <br>
        The question on your mind now: "Am I a fruit or a vegetable."<br>
        Shame we'll never know the answer here.<br>
    </p>

    <p>To play again, click the home button.</p>
    <a href="/home">Home</a>
</body>
</html>