<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You have woken</h1>

    <p>
        Now awake, you throw off the covers and roll out of bed. <br>
        Usually you would immediately go and brush your teeth, <br>
        but today feels like somebody else is pulling the strings.<br>
        Do you:
        <ul>
            <li>Brush your teeth as usual</li>
            <li>Skip the teeth cleaning like a degenerate</li>
        </ul>
    </p>

    <a href="/start/wake/brush">Brush teeth</a><br>
    <a href="/start/wake/skipBrush">Skip brushing</a>
</body>
</html>