<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>What luck!</h1>

    <p>
        Congratulations you have successfully guessed a random number between 1 and 20!<br>
        You have done the impossible, your name will be remembered for generations.<br>
        What you have won, is absolutely nothing!<br>
        Congratulations again winner.<br>
    </p>

    <p>To play again, click one of the following.</p>
    <a href="/guessingGame">Guessing Game</a><br>
    <a href="/home">Home</a>
</body>
</html>